@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
  font-family: "Poppins";
}

.topnav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 75%;
  }
  
  .topnav a {
    float: left;
    align-items: center;
    display: block;
    color: #414141;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    color: rgb(255, 0, 51);
    transform: matrix3d(1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1);
  }
  
  .topnav a.active {
    color: rgb(255, 0, 13);
    /* text-decoration: underline; */

  }
  
  .topnav .icon {
    display: none;
  }
  .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    /* video_display */
    h2{
      text-align: center;
      padding: 1rem;
    }
    h1{
      margin-top: 10rem;
      text-align: center;
      padding: 1rem;

    }
    .video_display {
      align-items: center;
    }
    
    .video__container {
      width: 60%;
      margin-left: 22rem; /* This will center the video horizontally */
    }

    article{
      width: 60%;
      height: auto;
      margin: 5rem auto;
    }
    article h3{
      margin: 4rem auto;
      color: #2ecc71;
      font-size: 1.5rem;
      margin: 10px 0;
    }
    article p{
      margin: 1rem auto;
      color: #414141;
      font-size: 1.1rem;
    }
    .intro{
      display: flex;
      justify-content: space-between;

    }
    .intro img{
      /* border: 1px solid #2ecc71; */
      width: 400px;
      height: 250px;
      margin-top: 2rem;
    }
    .intro h2{
      display: flex;
      justify-content: start;
      color: #2ecc71;
    }

    article p{
      width: 100%;
      color: #777676;
      letter-spacing: .2px;
      /* border: 1px solid #2ecc71; */
    }
    .intro p{
      width: 95%;
      color: #777676;
      /* border: 1px solid #2ecc71; */
    }


    /* ==================*/
    
    .carousel {
      position: relative;
      width: 80%;
      overflow-x: scroll;
      padding: 30px;
      padding-top: 80px;
      margin: 0 auto;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    .carousel__container {
      white-space: nowrap;
      margin: 70px 0px;
      padding-bottom: 10px;
      display: inline-block;
    }
    
    .categories__title {
      margin-top: 10rem;
      color: rgb(77, 55, 102);
      font-size: 28px;
      position: relative;
      padding: 2rem 14rem;
    }
    
    .carousel-item {
      width: 200px;
      height: 250px;
      border-radius: 20px;
      background-color: #95bcd6;
      overflow: hidden;
      margin-right: 10px;
      margin-top: 70px;
      display: inline-block;
      cursor: pointer;
      -webkit-transition: 1000ms all;
      transition: 1000ms all;
      -webkit-transform-origin: center left;
      transform-origin: center left;
      position: relative;
    }
    
    .carousel-item:hover ~ .carousel-item {
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }
    
    .carousel__container:hover .carousel-item {
      opacity: 0.3;
    }
    
    .carousel__container:hover .carousel-item:hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 1;
    }
    
    .carousel-item__img {
      width: 200px;
      height: 250px;
      -o-object-fit: cover;
      object-fit: cover;
    }
    
    .carousel-item__details {
      background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(0, 0, 0, 0.9)),
        to(rgba(0, 0, 0, 0))
      );
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      font-size: 10px;
      opacity: 0;
      -webkit-transition: 450ms opacity;
      transition: 450ms opacity;
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .carousel-item__details:hover {
      opacity: 1;
    }
    
    .carousel-item__details span {
      height: 10px; 
      font-size: 0.9rem;
      color: #2ecc71;
    }
    
    .carousel-item__details .controls {
      padding-top: 180px;
    }
    
    .carousel-item__details .carousel-item__details--title,
    .carousel-item__details--subtitle {
      color: #fff;
      margin: 5px 0;
    }
     
     /* asdfghjk */
     h1{
      text-align: center;
     }
     .container{
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 5rem auto;
      overflow: scroll;
  }
  
  .container .card{
    flex-wrap: wrap;
    grid-template-rows: max-content 200px 1fr;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    margin: 1rem;
    /* border: 1px solid #333; */
  }
  
  .container .card .face{
      width: 400px;
      height: 300px;
      transition: 0.5s;
  }
  
  .container .card .face.face1{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      transform: translateY(100px);
  }
  
  .container .card:hover .face.face1{
      background: #b6b0b2;
      transform: translateY(0);
  }
  
  .container .card .face.face1 .content{
      opacity: 0.2;
      transition: 0.5s;
  }
  
  .container .card:hover .face.face1 .content{
      opacity: 1;
  }
  
  .container .card .face.face1 .content img{
      width: 390px;
      height: 290px;
      border-radius: 14px;
  }
  
  .container .card .face.face1 .content h3{
      padding: 0;
      text-align: center;
      font-size: 1.5em;
  }
  
  .container .card .face.face2{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 4px 10px 10px rgba(180, 163, 163, 0.8);
      transform: translateY(-100px);
  }
  
  .container .card:hover .face.face2{
      transform: translateY(0);
  }
  
  .container .card .face.face2 .content p{
      margin: 0;
      padding: 0;
  }
  
  .container .card .face.face2 .content a{
      margin: 15px 0 0;
      display:  inline-block;
      text-decoration: none;
      font-weight: 900;
      color: #000000;
      padding: 5px;
      border: 1px solid #333;
  }
  
  .container .card .face.face2 .content a:hover{
      background: #333;
      color: #fff;
  }

  



  /* footer */

  .footer{
    position: relative;
    width: 100%;
    height: 45vh;
    background-color: #cbcaca;
  }