*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
    /* font-family: pruduct-sans; */
}
::root{
    --text-color: #393939;
    --black-color: #000000;
};
body{
    background-color: var(--background-color);
    font-family: 'Courier New';
}
.topnav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    overflow: hidden;
  }
  
  .topnav a {
    font-family: poppins;
    float: left;
    align-items: center;
    display: block;
    color: #414141;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    color: rgb(255, 0, 51);
  }
  
  .topnav a.active {
    color: rgb(255, 255, 255);
  }
  
  .topnav .icon {
    display: none;
  }
  .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  



  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .header .toggle-btn img{
      width: 350px;
    }
    .title{
        font-size: 1.2em;
    }
    .wrapper{
        flex-direction: column;
    }
  }








  .header{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;

  }
  .wrapper{
    width: 100%;
    height: 100%;
    padding: 0 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .toggle-btn img{
    width: 600px;
    /* filter: drop-shadow(7px 7px 4px  #626284); */
  }
  @keyframes toggle-btn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  


  .content{
    max-width: 800px;
  }
 
  .content h1{
    font-size: 3em;
    font-weight: 600;
    color: var(--title-color);
    font-family: serif;
  }
  
  .content h1 span{
    font-family: serif;
    font-weight: 400;
    font-style: italic;
  }
  .content a {
    background: #4864ff;
    color: #fff;
    padding: 15px 70px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
  }
  .content p {
    font-size: 1em;
    font-weight: 400;
    color: var(--title-color);
    font-family: serif;
    margin-top: 20px;
    display: block;
  }