@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   scroll-behavior: smooth;
   font-family: "Poppins";
   font-style: normal;
}

::root{
    --text-color: #393939;
    --background-color: #ffffff;
};

/* Responve  */
@media (max-width: 884px) {
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 678px) {
  .hero-text h1 {
    font-size: 2rem;
  }
}
@media (max-width: 428px) {
  nav ul {
    display: none;
  }
}

/* Media queries for responsiveness */
@media only screen and (min-width: 768px) {
  .container .intro_container .intro .image {
    max-width: 400px;
  }

  .container .intro_container .intro .paragraph {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .container .intro_container .intro .image {
    max-width: 500px;
  }
  .container .intro_container .intro .paragraph {
    max-width: 800px;
  }
}

 /*responsive */
 @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .header .wrapper{
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
  .wrapper .toggle-btn img{
    width: 400px;
  }
.header .bar-line{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.wrapper {
  flex-direction: row; /* Reset flex direction for larger screens */
}

.toggle-btn img {
  width: 600px; /* Reset image width for larger screens */
}

.content {
  max-width: 800px; /* Reset max-width for larger screens */
}

.bar-line {
  flex-wrap: nowrap; /* Reset flex-wrap for larger screens */
  margin: 4rem auto; /* Reset margin for larger screens */
}
}


.topnav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 75%;
  }
  
  .topnav a {
    float: left;
    align-items: center;
    display: block;
    color: #414141;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    color: rgb(255, 0,13);
    transform: matrix3d(1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1);
  }
  
  .topnav a.active {
    color: rgb(255, 0, 13);

  }
  
  .topnav .icon {
    display: none;
  }
  .topnav.responsive {
    position: relative;
  }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
 

    .header{
      width: 100%;
      height: auto;
      background-color: #ffffff;
      justify-content: space-between;
  
    }
    .wrapper{
      width: 100%;
      height: 100%;
      padding: 0 55px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
   .bar-line hr{
    width: 1px;
    margin: 0 1px;
    height: 50px;
    background-color: #606060;
   }
    .toggle-btn img{
      width: 600px;
    }
    
    .content{
      max-width: 800px;
    }
   
    .content h1{
      font-size: 3em;
      font-weight: 600;
      color: var(--title-color);
      font-family: serif;
    }
    
    .content h1 span{
      font-family: serif;
      font-weight: 400;
      font-style: italic;
    }
    .content a {
      color: #262626;
      padding: 15px 55px;
      border: #868484 solid 1px;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      margin-top: 30px;
      text-decoration: none;
    }
    .content a:hover {
      background-color: #3075dc;
      color: #ffffff;
      transition: ease-in-out 0.3s;
    }
  
    .header .wrapper .content .title p {
      /* font-size: 1em; */
      color: #4e4d4d;
      font-family: serif;
      margin-top: 20px;
      display: block;
    }
  
    /* shcedule under header */
    .bar-line {
      position: relative;
      width: 70%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8rem auto; /* Updated */
      border-radius: 40px;
      box-shadow: 2px 3px 8px #dcd6d6;
      border: 1px solid #faf3f3;
  }
  
  .bar-line .icons{
    margin: 0 auto;
    display: flex;
  }
  
  .bar-line span{
    color: #787373;
  }
  .bar-line .icons {
    width: 260px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .bar-line .icons:hover {
    transform: translateY(-10px);
  }

  .bar-line .icons .fas,
  .bar-line .icons .fa{
    font-size: 1.5em;
    color: #302f2f;
    transition: all 0.3s ease;
  }
  .bar-line .icons p{
    font-size: .7em;
    color: #302f2f;
    margin: 0 1rem;
  
  }
/* introduction  */

.container1{
  /* border: 1px solid #070707; */
  width: 100%;
  height: auto;
}

.container1 h1{
  text-align: center;
  font-size: 4em;
  font-weight: 500;
}
.container1 .intro_container .intro img{
  width: 700px;
}

.intro_container{
  margin: 0 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro{    
  width: 80%;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .paragraph{
  padding: 5rem;
  font-size: .8rem;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}


.container .pic-pro{
  margin: 1rem 5rem;
}
.pic-pro img{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


 /* what we offer   */
 .offers_container{
  width: 100%;
  height: auto;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .offers_container h2{
  font-size: 2em;
  font-weight: 600;
  color: #0f0e0e;
  margin: 1rem 0;
 }
 .pic-pro h3{
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  color: #3c3c3c;
  margin: 1rem 0;
 
 }
.offers_container .stem_spaze a,
.offers_container .sciene_lab a,
.offers_container .digital_classroom a {
  text-decoration: none;
  margin: 2rem;
  padding: 15px 75px;
  outline: 1px solid #3e3e3e;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0f0e0e;
}
.offers_container p {
  font-size: 1em;
  color: #4e4d4d;
}

.offers_container a:hover {
  background-color: #e9e9e9;
  transition: 0.3s;
}
.offers_container .science_lab,
.offers_container .stem_spaze,
.offers_container .digital_classroom{
  max-width: 100%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.offers_container .science_lab img,
.offers_container .stem_spaze img,
.offers_container .digital_classroom img{
  min-width: 600px;
  margin: 1rem;
}

.sciene_lab {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.partner_wrapper{
  display: grip;
  min-width: auto;
  height: auto;
  padding-bottom: 250px; 
  background: linear-gradient(to top, 
  #e8e8ed 0%,rgb(255, 255, 255) 100%);
}  
.partner_wrapper .partner{
  
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.part_h1{
  display: flex;
  margin: 5rem auto;    
  justify-content: center;
  align-items: center;
  }
  
.partner .images{
  display: flex;
  align-items: center;
  margin: 1rem;
  border: 1px solid #e0e0e0;  
  border-radius: 50%;
}
  
.partner .images img{
  border-radius: 55px;
  width: 90px;
  height: 90px;
}
.lg{
  border: none;
  border-radius: none;
  background-color: transparent;
  }
   
.why{
  margin-top: -3.5rem;
  height: auto;
  position: relative;
  background: linear-gradient(to bottom, #f0f0f3 0%, #ffffff 100%);
}

.why h1{
  width: 35%;
  margin: 0 auto;
  font-size: 1.2em;
  text-align: center;
  color: #3d3d3d;
}

.why h2{
  padding-top: 7rem;
  font-size: 2em;
  font-weight: 600;
  color: #181717;
}
/* .reason_container{
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #e0e0e0;
} */
.feedback_container{
  position: relative;
  width: 80%;
  height: auto;
  margin: 5rem auto;
}
.feedback_container .card-columns{
  width: 100%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feedback_container p{
  justify-content: center;
  color: #363636;
}

.feedback_container h4{
  margin: 1rem auto;
  font-size: 1em;
  text-align: center;
  color: #434343;
  font-weight: 300;
}
 .card-body .card-text{
  font-size: .8em;
  text-align: center;
  padding: 1rem;
 }

.feedback_container .card-columns .card{
  width: 570px;
  height: 150px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin: 1rem;
  cursor: pointer;
}
.feedback_container .card-columns .card:hover{
  background-color: #f5f4f4;
  transition: all 0.5s ease-in-out;
  counter-reset: all 0.5s ease-in-out;
  border: 1px solid #8c8b8b;
}

  .card-body strong{
    font-size: 1em;
    color: #3b3a3a;
    margin: 1rem;
  }
  .reason_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    flex-direction: row;
    color: rgb(3, 3, 3);
  }
  .reason_container h3{
    font-size: 1.5em;
    font-weight: 600;
    color: #4a4a4a;
    margin: 1rem;
  }
  .reason_container .services,
  .reason_container .Products,
  .reason_container .Warranty{
    margin: 15px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    place-items: center;
    /* border: 1px solid #e0e0e0; */
  }
  span i{
    font-size: 3em;
    color: #39393c;
    padding: 2.4rem;
    background-color: #ededed;
    border-radius: 50%;
  }
  .reason_container p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .8em;
    font-weight: 300;
    color: #656464;
  }

  .wrapper{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 60vh;
    /* background-color: #a6b1a7; */

  }
.img img{
  width: 700px;
  height: 400px;
}



/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}


/* .digitall classroom */
.main>h2{
  width: 70%;
  height: 70vh;
  margin: 12rem auto;
}


h2{
  width: 70%;
  font-size: 2em;
  font-weight: 600;
  padding: 0 auto;
  margin: 0 auto;

}

/* slider============================== */
.client{
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

@keyframes hm-clients-track-move {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}
.slider {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 9));
  }
}
.slide {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  width: 200px;
  align-items: center;
  padding: 15px;
  perspective: 300px;
}

.client .slider .slide-track .slide img {
  width: 100px;
  margin: 1rem;
  transition: transform 1s;
}

img:hover {
  transform: translateZ(20px);
  
}
.slider::before,
.slider::after {
  
  content: "";
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ("180deg");
}

/* contact form */

.contact {
  width:100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
 
}
h2{
  text-align: center;
  margin-top:50px;
}
.contact_form{
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form_data {
  width:100%;
  display: flex;
  flex-direction: column;
  /* background-color: #726b6b; */
  padding: 20px;
}
.interest_options {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 60px;
 
}
.interest_options > h3{
  font-size: .8rem;
  margin-bottom: 35px;
}
.options{
  display: flex;
  flex-direction: column;
}
.check_box{
  display: flex;
  align-items: center;
  margin: 5px;
}

.check_box>input[type="checkbox"]{
  margin: 5px;
  display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 20px;
      background-color: #eee;
      border-radius: 4px;
      cursor: pointer;
  

}
.Name{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.email,
.organization, 
.phone, 
.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}
.email>input, .organization>input, .phone>input, .description>textarea {
  width: 100%;
  padding: 8px;
 
}
textarea {
  height: 250px;
}
.first_name, .last_name {
  width: 47%;
  
}

.first_name>input, .last_name>input {
  width: 100%;
  padding: 8px;

}
.submit_btn{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}
.submit_btn>button{
  width: 150px;
  padding: 10px 20px;
  background-color: #336ff1;
  border: none;
  color: white;
  cursor: pointer;
}

/* ==== Footer ====== */
.site-footer {
  background-color: #afadad;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #838181;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  }
  .site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
  }
  .site-footer hr.small {
  margin: 20px 0;
  }
  .site-footer h6 {
  color: #00363b;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  }
  .site-footer a {
  color: #737373;
  }
  .site-footer a:hover {
  color: #fff;
  text-decoration: none;
  }
  .footer-links {
  padding-left: 0;
  list-style: none;
  }
  .footer-links li {
  display: block;
  }
  .footer-links a {
  color: #737373;
  }
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
  color: #fff;
  text-decoration: none;
  }
  .site-footer .social-icons {
  text-align: right;
  }
  .site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
  }
  .copyright-text {
  margin: 0;
  }
  @media (max-width: 991px) {
  .site-footer [class^="col-"] {
  margin-bottom: 30px;
  }
  }
  @media (max-width: 767px) {
  .site-footer {
  padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
  text-align: center;
  }
  }
  .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  }
  .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
  }
  .social-icons a {
  background-color: #eceeef;
  color: #8e9091;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  }
  .logo{
  color:#eb6857;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
  }
  .social-icons a.facebook:hover {
  background-color: #3b5998;
  }
  .social-icons a.twitter:hover {
  background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
  background-color: #007bb6;
  }
  .social-icons a.dribbble:hover {
  background-color: #ea4c89;
  }