@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   scroll-behavior: smooth;
   font-family: "Poppins";
   font-style: normal;
}
html {
  scroll-behavior: smooth;
}
::root{
    --text-color: #393939;
    --black-color: #000000;
};
body{
    background-color: var(--background-color);
    font-family: 'Courier New';
}
.topnav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 75%;
  }
  
  .topnav a {
    float: left;
    align-items: center;
    display: block;
    color: #414141;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    color: rgb(255, 0, 51);
    transform: matrix3d(1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1);
  }
  
  .topnav a.active {
    color: rgb(255, 0, 13);
    /* text-decoration: underline; */

  }
  
  .topnav .icon {
    display: none;
  }
  .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    /* ================ */
    h2{
      text-align: center;
      padding: 1rem;

    }
    h1{
      margin-top: 10rem;
      text-align: center;
      padding: 1rem;

    }
    
    .video_display {
      align-items: center;
      
    }
    
    .video__container {
      width: 60%;
      margin-left: 22rem; /* This will center the video horizontally */
    }
    /* ================== */
    .carousel {
        width: 80%;
        overflow-x: scroll;
        padding: 30px;
        padding-top: 80px;
        position: relative;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      
      .carousel__container {
        white-space: nowrap;
        margin: 70px 0px;
        padding-bottom: 10px;
        display: inline-block;
      }
      
      .categories__title {
       color: rgb(77, 55, 102);
        font-size: 28px;
        position: relative;
        /* padding-left: 30px; */
      }
      
      .carousel-item {
        width: 200px;
        height: 250px;
        border-radius: 20px;
        background-color: #95bcd6;
        overflow: hidden;
        margin-right: 10px;
        margin-top: 70px;
        display: inline-block;
        cursor: pointer;
        -webkit-transition: 1000ms all;
        transition: 1000ms all;
        -webkit-transform-origin: center left;
        transform-origin: center left;
        position: relative;
      }
      
      .carousel-item:hover ~ .carousel-item {
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
      }
      
      .carousel__container:hover .carousel-item {
        opacity: 0.3;
      }
      
      .carousel__container:hover .carousel-item:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
      }
      
      .carousel-item__img {
        width: 200px;
        height: 250px;
        -o-object-fit: cover;
        object-fit: cover;
      }
      
      .carousel-item__details {
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(rgba(0, 0, 0, 0.9)),
          to(rgba(0, 0, 0, 0))
        );
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        font-size: 10px;
        opacity: 0;
        -webkit-transition: 450ms opacity;
        transition: 450ms opacity;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      
      .carousel-item__details:hover {
        opacity: 1;
      }
      
      .carousel-item__details span {
        /* width: 10px;
        height: 10px; */
        font-size: 0.9rem;
        color: #2ecc71;
        /* background-color: white; */
      }
      
      .carousel-item__details .controls {
        padding-top: 180px;
      }
      
      .carousel-item__details .carousel-item__details--title,
      .carousel-item__details--subtitle {
        color: #fff;
        margin: 5px 0;
      }
      /* ========== */
      .description{
        width: 60%;
        margin: 5rem auto;
        text-align: center;
      }
      .description h3{
        margin: 3rem 0;
      }
      .description p{
        margin: 1rem 0;
      }
      /* card */
      .main-container {
        padding: 30px;
      }
      
      /* HEADING */
      
      .heading {
        text-align: center;
      }
      
      .heading__title {
        font-weight: 600;
      }
      
      .heading__credits {
        margin: 10px 0px;
        color: #838181;
        font-size: 25px;
        transition: all 0.5s;
      }
      
      .heading__link {
        text-decoration: none;
      }
      
      .heading__credits .heading__link {
        color: inherit;
      }
      
      /* CARDS */
      
      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .card {
        margin: 10px;
        padding: 10px;
        width: 500px;
        min-height: 170px;
        display: grid;
        grid-template-rows: 20px 50px 1fr 50px;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
      }
      
      .card:hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
      }
      
      .card__link,
      .card__exit,
      .card__icon {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
      }
      .head_text{
        color:rgb(37, 37, 37)
      }
      .card p{
        margin: 1rem 0;
        color: #000000;
        font-size: .7rem;
      }
      .card__link::after {
        position: absolute;
        top: 25px;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
      }
      
      .card__link:hover::after {
        width: 100%;
      }
      
    .card__title{
      position: relative;
    }
      
      
      
    
      
  
      
      /* CARD BACKGROUNDS */
      
      .card-1 {
        background: radial-gradient(#e9e8e8, #ededed);
      }
      
      .card-2 {
        background: radial-gradient(#ebebeb, #e8e8e8);
      }
      
      .card-3 {
        background: radial-gradient(#ebebeb, #ebebeb);
      }
      
      .card-4 {
        background: radial-gradient(#ebebeb, #ebebeb);
      }
      
      .card-5 {
        background: radial-gradient(#ebebeb, #ebebeb);
      }
      
      /* RESPONSIVE */
      
      @media (max-width: 1600px) {
        .cards {
          justify-content: center;
        }
      }


      /* === footet === */
      .footer{
        position: relative;
        margin-top: 40rem;
        width: 100%;
        height: 65vh;
        background-color: #cbcaca;
      }