@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   scroll-behavior: smooth;
   font-family: "Poppins";
   font-style: normal;
}
/* Animation part  */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.typed-text {
  overflow: hidden;
  border-right: .1rem solid rgb(0, 255, 72);
  white-space: nowrap;
  margin: 3rem auto;
  animation: typing 5s steps(40, end), blink-caret .85s step-end;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 249, 54) }
}
.nav{
  background-color: white;
  box-shadow: 1px 1px 4px rgb(239, 239, 239);
}

/* Responve  */
@media  sreen and (min-width: 760px){
  .category img {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 884px) {
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 678px) {
  .hero-text h1 {
    font-size: 2rem;
  }
}
@media (max-width: 428px) {
  nav ul {
    display: none;
  }
}

.nav{
  background-color: white;
  box-shadow: 1px 1px 4px rgb(239, 239, 239);
}

.text h1{
  font-size: 60px;
  font-weight: 600;
 } 

.Nav_Bar .nav-item a:hover{
  color: #ff0000;;
}
.navbar {
  padding: 0 1rem;
}
@media (min-width: 1000px) {
  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
  .navbar-nav{
    margin-right: 20rem;
  }
}
@media (min-width: 1300px) {
  .navbar {
    padding: 0 8rem;
  }
}

@media screen and (max-width: 700px) {
  .logoImg {
    width: 200px;
    height: 80;
  }
  .text h1 {
    margin: 2rem auto;
    font-size: 27px;
    font-weight: 600;
    padding: 1rem;
  }  
  .col img{
    display: flex;
    align-items: center;
    max-width: 300px;
    height: auto;
  } 
  .row .col{
      display: block;
      align-items: center;
      justify-content: center;
  }
  .image-container img{
    width: 120px;
    height: auto;
  }
}
.nav-link {
  color: #414141 !important
}
.nav-link:hover {
  color: #ff0000 !important
}
.active {
  color: #ff0000 ;
}
    /* ================ */
    h2{
      text-align: center;
      padding: 1rem;

    }

    .video_display {
      align-items: center;
      
    }
    .digital {
      width: 85%;
      height: auto;
      margin: 0 auto;
    }
 
    /* ================== */
      .image-container {
        width: 85%;
        margin: 0 auto;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Keep images in a single line */
    }
    
    .image-container img {
        max-width: 300px; /* Make images responsive */
        height: auto;
        display: inline-block; /* Display images in a row */
        cursor: pointer;
        margin-right: 10px;
        border: 1px solid rgb(192, 190, 190);
        border-radius: 15px;
         /* Add spacing between images */
    }
    .image-container img :hover{
      padding: 1rem;
      cursor: pointer;
    }
    .link {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
    }
    .link a{
      padding: 15px 20px;
      align-items: center;
      color: #ffffff;
      border-radius: 2px;
      background-color: #2ecc71;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

    }
    .link a:hover{
      text-decoration: none;
      background-color: #0af66c;
    }
    
      
      /* ========== */
      .description{
        width: 60%;
        margin: 5rem auto;
        text-align: center;
      }
      .description h3{
        margin: 3rem 0;
      }
      
  
      
      /* HEADING */
      
      .heading {
        text-align: center;
      }
      
      .heading__title {
        font-weight: 600;
      }
      
      .heading__credits {
        margin: 10px 0px;
        color: #838181;
        font-size: 25px;
        transition: all 0.5s;
      }
      
      .heading__link {
        text-decoration: none;
      }
      
      .heading__credits .heading__link {
        color: inherit;
      }
      
      /* CARDS */
      
      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .card {
        margin: 10px;
        padding: 10px;
        width: 500px;
        min-height: 170px;
        display: grid;
        grid-template-rows: 20px 50px 1fr 50px;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
      }
      
      .card:hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
      }
      
      .card__link,
      .card__exit,
      .card__icon {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
      }
      .head_text{
        color:rgb(37, 37, 37)
      }
      .card p{
        color: #000000;
        font-size: .9rem;
      }
      .card__link::after {
        position: absolute;
        top: 25px;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
      }
      
      .card__link:hover::after {
        width: 100%;
      }
      
    .card__title{
      position: relative;
    }
      
      
      
    
      
  
      
      /* CARD BACKGROUNDS */
      
      .card-1 {
        background: radial-gradient(#e9e8e8, #ededed);
      }
      
      .card-2 {
        background: radial-gradient(#ebebeb, #e8e8e8);
      }
      
      .card-3 {
        background: radial-gradient(#ebebeb, #ebebeb);
      }
      
      .card-4 {
        background: radial-gradient(#ebebeb, #ebebeb);
      }
      
      .card-5 {
        background: radial-gradient(#ebebeb, #ebebeb);
      }
      
      /* RESPONSIVE */
      
      @media (max-width: 1600px) {
        .cards {
          justify-content: center;
        }
      }

      /* === footet === */
      .site-footer {
        background-color: #afadad;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #838181;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        }
        .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5;
        }
        .site-footer hr.small {
        margin: 20px 0;
        }
        .site-footer h6 {
        color: #00363b;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px;
        }
        .site-footer a {
        color: #737373;
        }
        .site-footer a:hover {
        color: #fff;
        text-decoration: none;
        }
        .footer-links {
        padding-left: 0;
        list-style: none;
        }
        .footer-links li {
        display: block;
        }
        .footer-links a {
        color: #737373;
        }
        .footer-links a:active,
        .footer-links a:focus,
        .footer-links a:hover {
        color: #fff;
        text-decoration: none;
        }
        .site-footer .social-icons {
        text-align: right;
        }
        .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d;
        }
        .copyright-text {
        margin: 0;
        }
        @media (max-width: 991px) {
        .site-footer [class^="col-"] {
        margin-bottom: 30px;
        }
        }
        @media (max-width: 767px) {
        .site-footer {
        padding-bottom: 0;
        }
        .site-footer .copyright-text,
        .site-footer .social-icons {
        text-align: center;
        }
        }
        .social-icons {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        }
        .social-icons li {
        display: inline-block;
        margin-bottom: 4px;
        }
        .social-icons a {
        background-color: #eceeef;
        color: #8e9091;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        }
        .logo{
        color:#eb6857;
        }
        .social-icons a:active,
        .social-icons a:focus,
        .social-icons a:hover {
        color: #fff;
        background-color: #29aafe;
        }
        .social-icons a.facebook:hover {
        background-color: #3b5998;
        }
        .social-icons a.twitter:hover {
        background-color: #00aced;
        }
        .social-icons a.linkedin:hover {
        background-color: #007bb6;
        }
        .social-icons a.dribbble:hover {
        background-color: #ea4c89;
        }