@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   scroll-behavior: smooth;
   font-family: "Poppins";
   font-style: normal;

}
html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
    font-family: 'Courier New';
}
.nav{
  background-color: white;
  box-shadow: 1px 1px 4px rgb(239, 239, 239);

}

.topnav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 75%;
  }
  
  .topnav a {
    float: left;
    align-items: center;
    display: block;
    color: #414141;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    text-decoration: none;
    color: rgb(255, 0, 51);
    transform: matrix3d(1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1);
  }
  
  .topnav a.active {
    color: rgb(255, 0, 13);
    /* text-decoration: underline; */

  }
  
  .topnav .icon {
    display: none;
  }
  .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .text h1{
      font-size: 60px;
      font-weight: 600;
     } 
    
    .Nav_Bar .nav-item a:hover{
      color: #ff0000;
    }
    .Nav_Bar .nav-item .active{
      color: #ff0000;
    }
    .navbar {
      padding: 0 1rem;
    }
    @media (min-width: 1000px) {
      .navbar-collapse {
        display: flex;
        justify-content: end;
      }
      .navbar-nav{
        margin-right: 20rem;
      }
      .col img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: auto;
      } 
    }
    @media (min-width: 1300px) {
      .navbar {
        padding: 0 8rem;
      }
    }
    
    @media screen and (max-width: 700px) {
      .logoImg {
        width: 200px;
        height: 80;
      }
   
      .col img{
        display: flex;
        align-items: center;
        max-width: 300px;
        height: auto;
      } 
      .row .col{
          display: block;
          align-items: center;
          justify-content: center;
      }
      .image-container img{
        width: 120px;
        height: auto;
      }
    }
    .nav-link {
      color: #414141 !important
    }
    .nav-link:hover {
      color: #ff0000 !important
    }
    .active {
      color: #ff0000 ;
    }

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.typed-text {
  overflow: hidden;
  border-right: .1rem solid rgb(0, 255, 72);
  white-space: nowrap;
  margin: 3rem auto;
  animation: typing 5s steps(40, end), blink-caret .85s step-end;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 249, 54) }
}

    h2{
        text-align: center;
        padding: 1rem;
        font-size: 4rem;
  
      }
      h1{
        margin-top: 10rem;
        text-align: center;
        padding: 1rem;
        font-family: 'Arial', sans-serif;
    
  
      }
      .video_display {
        width: 70%;      
        margin: 3rem auto;
        height: auto;

      }
      
      .digital {
        width: 85%;
        height: auto;
        margin: 5rem auto;
      }

      
      /* ==================*/
      .image-container {
        width: 85%;
        margin: 0 auto;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Keep images in a single line */
    }
    
    .image-container img {
        max-width: 300px; /* Make images responsive */
        height: auto;
        display: inline-block; /* Display images in a row */
        cursor: pointer;
        margin: 2rem;
        border: 1px solid rgb(192, 190, 190);
        border-radius: 15px;
         /* Add spacing between images */
    }
    .image-container img :hover{
      padding: 1rem;
      cursor: pointer;
    }
    
      .link {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
        text-decoration: none;
      }
      .link a{
        padding: 15px 20px;
        align-items: center;
        color: #ffffff;
        border-radius: 2px;
        background-color: #2ecc71;
        text-decoration: none;
      }
      .link a:hover{
        text-decoration: none;
        background-color: #0af66c;
        transition: all 0.3s ease-in-out;

      }
      
  

     /* === footet ==== */
     .site-footer {
      background-color: #afadad;
      padding: 45px 0 20px;
      font-size: 15px;
      line-height: 24px;
      color: #838181;
      box-shadow: 0 10px 10px rgba(0,0,0,0.5);
      }
      .site-footer hr {
      border-top-color: #bbb;
      opacity: 0.5;
      }
      .site-footer hr.small {
      margin: 20px 0;
      }
      .site-footer h6 {
      color: #00363b;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 5px;
      letter-spacing: 2px;
      }
      .site-footer a {
      color: #737373;
      }
      .site-footer a:hover {
      color: #fff;
      text-decoration: none;
      }
      .footer-links {
      padding-left: 0;
      list-style: none;
      }
      .footer-links li {
      display: block;
      }
      .footer-links a {
      color: #737373;
      }
      .footer-links a:active,
      .footer-links a:focus,
      .footer-links a:hover {
      color: #fff;
      text-decoration: none;
      }
      .site-footer .social-icons {
      text-align: right;
      }
      .site-footer .social-icons a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 6px;
      margin-right: 0;
      border-radius: 100%;
      background-color: #33353d;
      }
      .copyright-text {
      margin: 0;
      }
      @media (max-width: 991px) {
      .site-footer [class^="col-"] {
      margin-bottom: 30px;
      }
      }
      @media (max-width: 767px) {
      .site-footer {
      padding-bottom: 0;
      }
      .site-footer .copyright-text,
      .site-footer .social-icons {
      text-align: center;
      }
      }
      .social-icons {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      }
      .social-icons li {
      display: inline-block;
      margin-bottom: 4px;
      }
      .social-icons a {
      background-color: #eceeef;
      color: #8e9091;
      font-size: 16px;
      display: inline-block;
      line-height: 44px;
      width: 44px;
      height: 44px;
      text-align: center;
      margin-right: 8px;
      border-radius: 100%;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      }
      .logo{
      color:#eb6857;
      }
      .social-icons a:active,
      .social-icons a:focus,
      .social-icons a:hover {
      color: #fff;
      background-color: #29aafe;
      }
      .social-icons a.facebook:hover {
      background-color: #3b5998;
      }
      .social-icons a.twitter:hover {
      background-color: #00aced;
      }
      .social-icons a.linkedin:hover {
      background-color: #007bb6;
      }
      .social-icons a.dribbble:hover {
      background-color: #ea4c89;
      }